In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv('merged_dataset_store+train.csv')

df = pd.DataFrame(data)

df.isna().sum()

C:\Users\user\AppData\Local\Temp\ipykernel_10796\2222364984.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('merged_dataset_store+train.csv')

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [7]:
total_cols = df.columns

print(f'Total columns: {len(total_cols)}')
print(f'Total rows: {len(df)}')

Total columns: 18
Total rows: 1017209

In [10]:
# Loop through columns
for col in df.columns:
    if df[col].isnull().any():  # check if column has nulls
        print(f"Column: {col}, Dtype: {df[col].dtype}, Null count: {df[col].isnull().sum()}")



df_of_only_null = df[df.columns[df.isnull().any()]]

df_of_only_null

Column: CompetitionDistance, Dtype: float64, Null count: 2642
Column: CompetitionOpenSinceMonth, Dtype: float64, Null count: 323348
Column: CompetitionOpenSinceYear, Dtype: float64, Null count: 323348
Column: Promo2SinceWeek, Dtype: float64, Null count: 508031
Column: Promo2SinceYear, Dtype: float64, Null count: 508031
Column: PromoInterval, Dtype: object, Null count: 508031

,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1270.0,9.0,2008.0,NaN,NaN,NaN
1,570.0,11.0,2007.0,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,14130.0,12.0,2006.0,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,620.0,9.0,2009.0,NaN,NaN,NaN
4,29910.0,4.0,2015.0,NaN,NaN,NaN
...,...,...,...,...,...,...
1017204,1900.0,6.0,2014.0,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1880.0,4.0,2006.0,NaN,NaN,NaN
1017206,9260.0,NaN,NaN,NaN,NaN,NaN
1017207,870.0,NaN,NaN,NaN,NaN,NaN
1017208,5350.0,NaN,NaN,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [ ]:
df_of_only_null.describe()

# mean	5.430086e+03	7.222866	2008.690228	23.269093	2011.752774

,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2SinceWeek,Promo2SinceYear
count,1.014567e+06,693861.000000,693861.000000,509178.000000,509178.000000
mean,5.430086e+03,7.222866,2008.690228,23.269093,2011.752774
std,7.715324e+03,3.211832,5.992644,14.095973,1.662870
min,2.000000e+01,1.000000,1900.000000,1.000000,2009.000000
25%,7.100000e+02,4.000000,2006.000000,13.000000,2011.000000
50%,2.330000e+03,8.000000,2010.000000,22.000000,2012.000000
75%,6.890000e+03,10.000000,2013.000000,37.000000,2013.000000
max,7.586000e+04,12.000000,2015.000000,50.000000,2015.000000

In [ ]:
df['CompetitionDistance'].fillna(df['CompetitionDistance'].median(), inplace=True)

df['CompetitionOpenSinceMonth'].fillna(1, inplace=True)  # assume January
df['CompetitionOpenSinceYear'].fillna(
    df['CompetitionOpenSinceYear'].median(), inplace=True
)

df.loc[df['Promo2'] == 0, ['Promo2SinceWeek','Promo2SinceYear','PromoInterval']] = 0

df['Promo2SinceWeek'].fillna(0, inplace=True)
df['Promo2SinceYear'].fillna(0, inplace=True)
df['PromoInterval'].fillna(0, inplace=True)

df.isna().sum()

C:\Users\user\AppData\Local\Temp\ipykernel_10796\38688506.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CompetitionDistance'].fillna(df['CompetitionDistance'].median(), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_10796\38688506.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CompetitionOpenSinceMonth'].fillna(1, inplace=True)  # assume January
C:\Users\user\AppData\Local\Temp\ipykernel_10796\38688506.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CompetitionOpenSinceYear'].fillna(
C:\Users\user\AppData\Local\Temp\ipykernel_10796\38688506.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Promo2SinceWeek'].fillna(0, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_10796\38688506.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Promo2SinceYear'].fillna(0, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_10796\38688506.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PromoInterval'].fillna(0, inplace=True)

Store                        0
DayOfWeek                    0
Date                         0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [18]:
df.dtypes

df['Date'] = pd.to_datetime(df['Date'])

df.dtypes

# Loop through columns and print unique values
for col in df.columns:
    unique_vals = df[col].unique()
    print(f"Column: {col}, Unique values: {unique_vals}")

Column: Store, Unique values: [   1    2    3 ... 1113 1114 1115]
Column: DayOfWeek, Unique values: [5 4 3 2 1 7 6]
Column: Date, Unique values: <DatetimeArray>
['2015-07-31 00:00:00', '2015-07-30 00:00:00', '2015-07-29 00:00:00',
 '2015-07-28 00:00:00', '2015-07-27 00:00:00', '2015-07-26 00:00:00',
 '2015-07-25 00:00:00', '2015-07-24 00:00:00', '2015-07-23 00:00:00',
 '2015-07-22 00:00:00',
 ...
 '2013-01-10 00:00:00', '2013-01-09 00:00:00', '2013-01-08 00:00:00',
 '2013-01-07 00:00:00', '2013-01-06 00:00:00', '2013-01-05 00:00:00',
 '2013-01-04 00:00:00', '2013-01-03 00:00:00', '2013-01-02 00:00:00',
 '2013-01-01 00:00:00']
Length: 942, dtype: datetime64[ns]
Column: Sales, Unique values: [ 5263  6064  8314 ...   660 17815 23303]
Column: Customers, Unique values: [ 555  625  821 ... 3900   36 4065]
Column: Open, Unique values: [1 0]
Column: Promo, Unique values: [1 0]
Column: StateHoliday, Unique values: [0 '0' 'a' 'b' 'c']
Column: SchoolHoliday, Unique values: [1 0]
Column: StoreType, Unique values: ['c' 'a' 'd' 'b']
Column: Assortment, Unique values: ['a' 'c' 'b']
Column: CompetitionDistance, Unique values: [1.270e+03 5.700e+02 1.413e+04 6.200e+02 2.991e+04 3.100e+02 2.400e+04
 7.520e+03 2.030e+03 3.160e+03 9.600e+02 1.070e+03 1.300e+03 4.110e+03
 3.270e+03 5.000e+01 1.384e+04 3.240e+03 2.340e+03 5.500e+02 1.040e+03
 4.060e+03 4.590e+03 4.300e+02 2.300e+03 6.000e+01 1.200e+03 2.170e+03
 4.000e+01 9.800e+03 2.910e+03 1.320e+03 2.240e+03 7.660e+03 5.400e+02
 4.230e+03 1.090e+03 2.600e+02 1.800e+02 1.180e+03 2.900e+02 4.880e+03
 9.710e+03 2.700e+02 1.060e+03 1.801e+04 6.260e+03 1.057e+04 4.500e+02
 3.036e+04 7.170e+03 7.200e+02 6.620e+03 4.200e+02 7.340e+03 2.840e+03
 5.540e+03 3.500e+02 2.050e+03 3.700e+03 2.256e+04 4.100e+02 2.500e+02
 1.130e+03 4.840e+03 1.750e+04 2.200e+03 1.650e+03 3.300e+02 2.244e+04
 1.996e+04 3.510e+03 3.320e+03 7.910e+03 2.370e+03 2.239e+04 2.710e+03
 1.181e+04 1.870e+03 4.800e+02 5.600e+02 1.069e+04 2.380e+03 2.410e+03
 2.400e+02 1.669e+04 1.462e+04 1.890e+03 8.780e+03 8.980e+03 1.514e+04
 1.793e+04 2.440e+03 1.500e+02 5.210e+03 3.900e+02 6.190e+03 1.390e+03
 1.930e+03 2.190e+03 3.300e+03 4.659e+04 7.890e+03 1.630e+03 2.093e+04
 4.510e+03 5.740e+03 6.800e+02 3.450e+03 3.580e+03 2.100e+03 2.290e+03
 3.570e+03 5.826e+04 1.676e+04 1.410e+03 7.600e+02 3.370e+03 1.350e+03
 2.000e+03 2.460e+03 9.000e+02 9.200e+02 5.190e+03 1.730e+03 2.536e+04
 1.700e+03 1.540e+03 2.930e+03 1.657e+04 2.800e+02 8.050e+03 8.540e+03
 2.090e+03 2.610e+03 3.183e+04 4.360e+03 1.780e+03 1.624e+04 1.642e+04
 3.050e+03 2.020e+03 2.950e+03 1.184e+04 8.530e+03 1.711e+04 2.970e+03
 5.340e+03 1.480e+03 1.160e+03 3.720e+03 1.000e+02 1.400e+02 1.254e+04
 9.800e+02 2.640e+03 1.100e+02 1.309e+04 4.130e+03 3.770e+03 1.250e+03
 1.710e+03 5.800e+03 1.261e+04 9.670e+03 3.560e+03 1.860e+03 1.936e+04
 8.500e+02 5.760e+03 1.470e+03 1.100e+03 2.770e+03 5.200e+02 1.697e+04
 2.200e+02 3.850e+03 4.210e+03 6.360e+03 2.026e+04 5.140e+03 4.900e+02
 5.630e+03 3.800e+02 6.870e+03 3.000e+02 1.168e+04 9.700e+02 1.505e+04
 4.030e+03 8.650e+03 1.900e+02 3.150e+03 6.400e+02 1.640e+03 1.000e+03
 1.353e+04 2.920e+03 7.930e+03 1.018e+04 1.080e+04 1.741e+04 6.680e+03
 3.840e+03 1.357e+04 4.370e+03 5.710e+03 1.420e+03 3.200e+02 6.100e+02
 1.110e+03 7.800e+02 6.880e+03 7.100e+02 1.310e+03 4.660e+03 7.000e+01
 3.400e+02 3.520e+03 2.233e+04 4.630e+03 8.000e+01 2.719e+04 2.100e+02
 1.534e+04 1.140e+03 4.580e+03 3.600e+02 4.520e+03 1.450e+03 1.618e+04
 8.480e+03 3.640e+03 2.960e+03 7.840e+03 9.260e+03 2.320e+03 1.864e+04
 6.970e+03 1.220e+03 2.260e+03 1.290e+03 1.460e+03 2.740e+03 8.000e+02
 6.540e+03 4.150e+03 2.330e+03 9.580e+03 1.984e+04 3.863e+04 1.200e+02
 1.543e+04 1.950e+03 2.470e+03 5.100e+03 1.866e+04 8.740e+03 1.130e+04
 1.416e+04 3.871e+04 9.000e+03 3.140e+03 3.233e+04 8.140e+03 8.400e+03
 1.314e+04 1.007e+04 3.130e+03 3.700e+02 6.700e+02 1.840e+03 4.040e+03
 9.000e+01 1.060e+04 1.590e+03 2.280e+03 8.080e+03 1.577e+04 1.865e+04
 8.090e+03 9.360e+03 1.649e+04 1.490e+03 8.880e+03 5.290e+03 1.500e+03
 9.720e+03 8.970e+03 2.060e+03 2.890e+03 2.040e+03 4.490e+03 1.362e+04
 6.470e+03 5.870e+03 8.250e+03 1.970e+03 1.112e+04 1.150e+03 1.571e+04
 1.600e+02 2.140e+03 6.630e+03 1.800e+03 2.613e+04 1.300e+02 6.690e+03
 1.600e+03 4.600e+02 2.120e+03 4.820e+03 1.085e+04 3.620e+03 2.313e+04
 5.360e+03 9.200e+03 5.830e+03 4.970e+03 1.080e+03 8.240e+03 5.890e+03
 1.560e+03 8.400e+02 8.460e+03 4.460e+03 6.210e+03 6.910e+03 4.650e+03
 1.620e+03 3.530e+03 2.880e+03 1.635e+04 1.287e+04 8.100e+02 3.003e+04
 1.302e+04 9.100e+02 3.900e+03 2.530e+03 5.000e+02 1.140e+04 1.510e+03
 3.970e+03 5.780e+03 1.850e+03 7.586e+04 2.645e+04 3.390e+03 3.405e+04
 1.790e+03 4.432e+04 4.160e+03 1.089e+04 3.110e+03 2.039e+04 5.260e+03
 5.300e+03 5.030e+03 1.481e+04 8.300e+03 7.700e+02 1.940e+03 7.470e+03
 2.550e+03 2.310e+03 1.430e+04 2.180e+03 1.496e+04 6.600e+02 4.680e+03
 1.740e+03 1.260e+03 5.470e+03 2.780e+03 1.610e+03 9.900e+02 1.308e+04
 8.200e+02 9.070e+03 1.280e+03 4.740e+03 8.260e+03 5.900e+02 4.000e+02
 1.126e+04 2.000e+01 2.249e+04 3.330e+03 2.510e+03 6.900e+03 1.861e+04
 7.160e+03 4.086e+04 2.062e+04 1.292e+04 1.816e+04 5.950e+03 4.700e+03
 6.000e+02 6.500e+02 7.280e+03 5.020e+03 5.800e+02 8.990e+03 3.760e+03
 4.260e+03 3.040e+03 3.000e+03 3.910e+03 1.910e+03 1.210e+03 7.000e+02
 1.010e+03 4.270e+03 1.340e+03 2.110e+03 9.230e+03 1.190e+03 4.400e+03
 2.270e+03 1.270e+04 2.097e+04 1.700e+02 7.250e+03 1.360e+03 4.400e+02
 1.572e+04 3.340e+03 2.540e+03 3.306e+04 1.734e+04 8.220e+03 1.095e+04
 1.031e+04 1.837e+04 2.070e+03 2.490e+03 7.300e+02 8.940e+03 9.910e+03
 5.440e+03 3.000e+01 4.080e+03 6.920e+03 1.170e+03 1.074e+04 5.100e+02
 1.690e+03 2.870e+03 3.350e+03 1.164e+04 2.753e+04 9.790e+03 1.017e+04
 7.780e+03 8.040e+03 5.300e+02 2.300e+02 7.420e+03 2.130e+03 1.457e+04
 2.000e+02 6.930e+03 7.860e+03 1.680e+03 2.700e+03 1.708e+04 1.517e+04
 3.250e+03 4.140e+03 2.850e+03 2.005e+04 1.876e+04 1.504e+04 3.030e+03
 3.780e+03 8.300e+02 8.550e+03 7.830e+03 2.900e+03 1.147e+04 4.870e+03
 1.207e+04 3.200e+03 8.190e+03 1.532e+04 3.590e+03 5.650e+03 5.900e+03
 1.754e+04 4.054e+04 1.399e+04 1.527e+04 3.528e+04 8.600e+02 1.920e+03
 5.980e+03 6.400e+03 1.190e+04 4.380e+03 6.710e+03 1.370e+03 1.765e+04
 4.330e+03 4.574e+04 3.410e+03 8.670e+03 1.313e+04 1.978e+04 2.390e+03
 3.224e+04 2.649e+04 2.543e+04 9.820e+03 2.630e+03 2.064e+04 1.699e+04
 6.300e+02 5.390e+03 1.549e+04 3.210e+03 1.530e+03 9.770e+03 1.728e+04
 5.090e+03 7.180e+03 9.560e+03 4.833e+04 1.760e+03 2.477e+04 3.870e+03
 1.862e+04 1.277e+04 9.640e+03 2.590e+03 2.453e+04 1.621e+04 1.757e+04
 7.980e+03 3.290e+03 6.320e+03 5.070e+03 3.470e+03 2.720e+03 1.460e+04
 6.890e+03 2.765e+04 8.860e+03 5.000e+03 1.120e+03 9.400e+02 1.404e+04
 4.770e+03 3.440e+03 3.020e+03 6.270e+03 2.177e+04 7.400e+02 2.137e+04
 1.020e+03 9.680e+03 2.181e+04 1.062e+04 3.860e+03 2.179e+04 2.919e+04
 4.570e+03 7.550e+03 1.243e+04 1.970e+04 4.450e+03 1.867e+04 1.937e+04
 1.854e+04 3.920e+03 3.170e+03 7.290e+03 1.980e+03 1.248e+04 3.100e+03
 7.240e+03 1.871e+04 2.620e+03 6.420e+03 4.700e+02 5.150e+03 1.570e+04
 5.460e+03 2.235e+04 2.810e+03 2.820e+03 6.860e+03 1.802e+04 1.670e+03
 2.220e+03 1.430e+03 8.700e+02 6.300e+03 1.983e+04 9.430e+03 2.362e+04
 9.630e+03 4.180e+03 3.890e+03 4.420e+03 2.193e+04 2.480e+03 3.460e+03
 6.560e+03 5.840e+03 2.230e+03 1.964e+04 6.480e+03 4.610e+03 6.330e+03
 1.520e+03 3.740e+03 1.990e+03 3.641e+04 7.680e+03 1.375e+04 2.715e+04
 1.729e+04 2.699e+04 2.907e+04 3.750e+03 1.317e+04 5.080e+03 1.319e+04
 5.350e+03 3.230e+03 3.380e+03 3.430e+03 8.110e+03 6.250e+03 1.202e+04
 5.010e+03 1.805e+04 5.380e+03 1.668e+04 1.154e+04 2.210e+03 4.300e+03
 5.220e+03 9.990e+03 1.045e+04 6.900e+02 1.830e+03 5.330e+03 1.400e+03
 3.490e+03 1.900e+03 1.880e+03]
Column: CompetitionOpenSinceMonth, Unique values: [ 9. 11. 12.  4. 10.  8.  1.  3.  6.  5.  2.  7.]
Column: CompetitionOpenSinceYear, Unique values: [2008. 2007. 2006. 2009. 2015. 2013. 2014. 2000. 2011. 2010. 2005. 1999.
 2003. 2012. 2004. 2002. 1961. 1995. 2001. 1990. 1994. 1900. 1998.]
Column: Promo2, Unique values: [0 1]
Column: Promo2SinceWeek, Unique values: [ 0. 13. 14.  1. 45. 40. 26. 22.  5.  6. 10. 31. 37.  9. 39. 27. 18. 35.
 23. 48. 36. 50. 44. 49. 28.]
Column: Promo2SinceYear, Unique values: [   0. 2010. 2011. 2012. 2009. 2014. 2015. 2013.]
Column: PromoInterval, Unique values: [0 'Jan,Apr,Jul,Oct' 'Feb,May,Aug,Nov' 'Mar,Jun,Sept,Dec']

In [21]:
df['StateHoliday'] = df['StateHoliday'].replace({'0':0, 'a':1, 'b':2, 'c':3}).astype(int)

df['StateHoliday'].unique()

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day']   = df['Date'].dt.day
df['WeekOfYear'] = df['Date'].dt.isocalendar().week.astype(int)
df['DayOfYear']  = df['Date'].dt.dayofyear

df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,DayOfYear
0,1,5,2015-07-31,5263,555,1,1,0,1,c,...,2008.0,0,0.0,0.0,0,2015,7,31,31,212
1,2,5,2015-07-31,6064,625,1,1,0,1,a,...,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31,212
2,3,5,2015-07-31,8314,821,1,1,0,1,a,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31,212
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,...,2009.0,0,0.0,0.0,0,2015,7,31,31,212
4,5,5,2015-07-31,4822,559,1,1,0,1,a,...,2015.0,0,0.0,0.0,0,2015,7,31,31,212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,1,1,a,...,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2013,1,1,1,1
1017205,1112,2,2013-01-01,0,0,0,0,1,1,c,...,2006.0,0,0.0,0.0,0,2013,1,1,1,1
1017206,1113,2,2013-01-01,0,0,0,0,1,1,a,...,2010.0,0,0.0,0.0,0,2013,1,1,1,1
1017207,1114,2,2013-01-01,0,0,0,0,1,1,a,...,2010.0,0,0.0,0.0,0,2013,1,1,1,1
1017208,1115,2,2013-01-01,0,0,0,0,1,1,d,...,2010.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1,1,1

In [ ]:
df['CompetitionOpenDate'] = pd.to_datetime(dict(
    year=df['CompetitionOpenSinceYear'],
    month=df['CompetitionOpenSinceMonth'],
    day=1
))

df['DaysSinceCompetitionOpen'] = (df['Date'] - df['CompetitionOpenDate']).dt.days
df['DaysSinceCompetitionOpen'] = df['DaysSinceCompetitionOpen'].clip(lower=0)


def is_promo_month(row):
    if row['PromoInterval'] == 0:
        return 0
    months = row['PromoInterval'].split(',')
    month_name = row['Date'].strftime('%b')
    return 1 if month_name in months else 0

df['IsPromoMonth'] = df.apply(is_promo_month, axis=1)


df = pd.get_dummies(df, columns=['StoreType', 'Assortment'], drop_first=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 29 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  datetime64[ns]
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  int64
 8   SchoolHoliday              1017209 non-null  int64
 9   CompetitionDistance        1017209 non-null  float64
 10  CompetitionOpenSinceMonth  1017209 non-null  float64
 11  CompetitionOpenSinceYear   1017209 non-null  float64
 12  Promo2                     1017209 non-null  int64
 13  Promo2SinceWeek            1017209 non-null  float64
 14  Promo2SinceYear            1017209 non-null  float64
 15  PromoInterval              1017209 non-null  object
 16  Year                       1017209 non-null  int32
 17  Month                      1017209 non-null  int32
 18  Day                        1017209 non-null  int32
 19  WeekOfYear                 1017209 non-null  int64
 20  DayOfYear                  1017209 non-null  int32
 21  CompetitionOpenDate        1017209 non-null  datetime64[ns]
 22  DaysSinceCompetitionOpen   1017209 non-null  int64
 23  IsPromoMonth               1017209 non-null  int64
 24  StoreType_b                1017209 non-null  bool
 25  StoreType_c                1017209 non-null  bool
 26  StoreType_d                1017209 non-null  bool
 27  Assortment_b               1017209 non-null  bool
 28  Assortment_c               1017209 non-null  bool
dtypes: bool(5), datetime64[ns](2), float64(5), int32(4), int64(12), object(1)
memory usage: 175.6+ MB

In [24]:
df.to_csv('cleaned_dataset.csv', index=False)